<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new article</title>
</head>
<body>
    <h1>Add a new article:</h1>
    <form th:fragment="articleForm" method="post" action="/admin/articles">
        <label>
            Title
            <input type="text" name="title"/>
        </label>
        <label>
            Lead
            <textarea name="lead"></textarea>
        </label>
        <label>
            Text
            <textarea name="body"></textarea>
        </label>
        <label>
            Authors
            <select name="authors" multiple>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName()}"></option>
            </select>
        </label>
        <label>
            Categories
            <select name="categories" multiple>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </label>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
