body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #F2F2F2;
}

a {
    color: black;
    text-decoration: none;
}

.admin-link {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    border: 2px solid #392F5A;
}

.admin-link:hover {
    background-color: #392F5A;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 20px auto;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.logo {
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    letter-spacing: 6px;
}

.header {
    margin: 0 auto;
    padding: 20px;
}

.header > a {
    padding: 10px;
    border-bottom: 3px solid #392F5A;
    margin-right: 20px;
}

.article {
    color: black;
    text-decoration: none;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.article img {
    height: 371px;
}

.article.large {
    margin-left: 0;
    margin-right: 0;
}

.article .content {
    padding: 20px;
}

.article .title {
    font-weight: 300;
    margin: 0;
}

.article.large .title {
    font-size: 32px;
}

.article .body {
    margin-bottom: 0;
}

.article .lead {
    font-weight: 300;
    margin-bottom: 0;
}

.article.large .lead {
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dadada;
}

.article .author {
    margin-bottom: 5px;
}

.article-list {
    flex-grow: 1;
    background-color: #FFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    margin: 20px;
    height: 790px; /* 10 articles */
}

.article-list .nav {
    display: flex;
    border-bottom: 1px solid #dadada;
}

.article-list .nav .tab {
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.article-list .nav .tab:first-of-type {
    border-right: 1px solid #dadada;
}

.article-list .nav .tab span {
    padding: 0 5px;
}

.article-list .nav .tab.selected {
    border-bottom: 2px solid #392F5A;
}

.article-list .list.hidden {
    display: none;
}

.article-list .list .list-item {
    padding: 10px;
    border-bottom: 1px solid #dadada;
}

.article-list .list .list-item .title {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
}

.article-list .list .list-item .title:hover {
    color: #BEB2C8;
}

.article-list .list .list-item .date {
    margin-top: 2px;
    font-size: 12px;
}
