<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News site</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1 class="logo"><a href="/">• Uutiset •</a></h1>
        <div class="header">
            <a href="/categories/latest">Uusimmat</a>
            <a href="/categories/popular">Suosituimmat</a>
            <a th:each="category : ${categories}" th:if="${category.isVisibleInUI()}" th:text="${category.name}" th:href="@{/categories/{id}(id=${category.id})}"></a>
        </div>
        <a class="article" th:each="article : ${articles}" th:href="@{/articles/{id}(id=${article.id})}">
            <img th:src="@{/articles/{id}/image(id=${article.id})}"/>
            <div class="content">
                <h2 class="title" th:text="${article.title}"></h2>
                <h3 class="lead" th:text="${article.lead}"></h3>
            </div>
        </a>
    </div>
    <a class="admin-link" href="/admin">Admin portal</a>
</body>
</html>
