<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a new category</title>
</head>
<body>
<h1>Add a new category:</h1>
<form method="post" action="/admin/categories">
    <label>
        Name
        <input type="text" name="name"/>
    </label>
    <label>
        Visible in UI
        <input type="checkbox" name="visibleInUI" value="1" />
        <input type="hidden" name="visibleInUI" value="0"/>
    </label>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
